<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.motoapp"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="16" />

    <permission
        android:name="com.example.motoapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.example.motoapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 使用GCM -->
    <uses-permission android:name="com.example.motoapp.permission.C2D_MESSAGE" />
    <!-- 存取 internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- App receives GCM messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <!-- GCM requires a Google account. -->

    <uses-permission android:name="android.permission.GET_ACCOUNTS" tools:node="remove" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 手機震動 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- //拍照權限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- //自動對焦 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- //存檔權限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- //设置电源管理的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/kerryicon"
        android:label="@string/app_name"

        android:theme="@android:style/Theme.DeviceDefault.Light">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
        </activity>

        <!-- 接收 GCM 的 receiver -->
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.example.motoapp." />
            </intent-filter>
        </receiver>

        <!-- GCM service -->
        <service
            android:name=".GCMIntentService"
            android:enabled="true" />

        <activity
            android:name=".Login"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <activity
            android:name=".Login1"
            android:label="@string/title_activity_login1" >
        </activity>
        <activity
            android:name=".HistoryFragment"
            android:label="@string/title_activity_login1"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InOutFrg"
            android:label="@string/title_activity_login1"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DataListFrg"
            android:label="@string/title_activity_login1"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".GetTaskFrg"
            android:label="@string/title_activity_main_activityk"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".GCMActivity"
            android:label="@string/title_activity_gcm"
            android:theme="@android:style/Theme.Dialog"  >
            <intent-filter>
                <action android:name="com.example.motoapp.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>        <activity
            android:name="BluetoothChat"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="DeviceListActivity"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <service
            android:name=".Delay"
            android:enabled="true"
            android:exported="true" ></service>


    </application>

</manifest>
